{{- $context := .Context -}}
{{- $limit := default 10 .Params.limit -}}
<section class="widget tagCloud">
    <div class="widget-icon">
        {{ partial "helper/icon" "tag" }}
    </div>
    <h2 class="widget-title section-title">{{ T "widget.tagCloud.title" }}</h2>

    <div class="tagCloud-tags">
        {{- $cateTaxonomy := $context.Site.GetPage "tags" -}}
        {{- $cateTerms := $cateTaxonomy.Pages -}}
        {{ range first $limit $cateTerms }}
            {{- $pages := .Pages -}}
            {{- $filteredPages := where $pages ".Params.hidden" "!=" true -}}
            {{ if $filteredPages }}
                <a href="{{ .RelPermalink }}" class="font_size_{{ len $filteredPages}}">
                    {{ .Title }}
                </a>
            {{ end }}
        {{ end }}
    </div>
</section>